<html>
<head>
	<title>网易云音乐客户端</title>
	<meta charset="utf-8"/>
	 <!-- Bootstrap core CSS -->
  	<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css', _external=True )}}" rel="stylesheet">
  	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css', _external=True )}}">
</head>
<body>

<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="{{ url_for('singer')}}">歌手</a></li>
	      </ul>
            <form class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" name="s" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                 <li><a href="{{ url_for('login') }}">登录</a></li>
            </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>
{% block body %}{% endblock %}

<nav class="navbar container navbar-default navbar-fixed-bottom">
<div class="container" style="text-align: center;font-size: 20px;line-height: 50px;">
    Power by iamzcr
</div><!-- /.container-fluid -->
</nav>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='bootstrap/js/jquery.js', _external=True )}}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js', _external=True )}}"></script>
</body>
</html>

